html
    head 
        title Pug is awsome
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        style body {font-family:fira-code,sans-serif;} ul {color:orange} span {font-style:italic;color:green}
        script.
            console.log("Hello there")
    body 
        block content 
