extends layout 
block content 
    h1 All Meetups       
    ul.meetup-list
        each meetup of meetups 
            li
                span 
                    strong #{meetup.name}
                span  --  #{meetup.id}


        
    