extends layout 
block content 
    h1 All People      
    ul.awsome-friends
        each person in people 
            li
                strong #{person.firstName} 
                    span is #{person.age} years old.
                p #{person.firstName} is attending these meetups        
                ol.user-meetups
                    each meetup of person.meetups
                        li #{meetup.name}
    


        
    